/* css reset */
*{
    margin: 0px;
    padding: 0px;
}
/* css variables */
:root{
    --navbar-height:59px;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
/*navigation bar :logo and image designing  */
#logo{
margin: 16px 31px;
}
#logo img{
margin: -16px 1px;
height: 50px;
/* rotate: 45px; */
border-radius: 5px;
}
/* navigation bar:list items designing */
#navbar ul{
    display: flex;
}
#navbar::before{
    top: 0;
    left: 0;
    content: " ";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar ul li a{
    color: white;
    padding: 3px 22px;
     text-decoration: none;
     border-radius: 20px;
     display: block;
}
#navbar ul li a:hover{
     color: black;
     background-color: white;
}

/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 503px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: " ";
    background:url(../bg1.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 84%;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}

/* section services */
#services{
    display: flex;
    flex-direction: row;
    margin: 34px;
}
#services .box{
border: 4px solid brown;
padding: 12px;
margin: 3px 6px;
border-radius: 30px;
background-color: rgb(236, 226, 228);
}
#services .box img{
height: 200px;
display: block;
margin: auto;
}

/* client-section */
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-items img{
    height: 153px;
}
.client-items{
    padding: 34px;
}
#client-section{
    height: 344px;
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(../bg.jpg);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Contact-section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 12px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
}

/* footer */
footer{
    background-color: black;
    color: white;
    font-size: 25px;
    text-align: center;
}
/* utility class */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;
}
.btn{
    padding: 4px;
    border-radius: 10px;
    background-color: tomato;
    border: 2px solid white;
    margin: 12px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.center{
    text-align: center;
}